@import '@busybox/tailwindcss-config/tailwind.css';
@import url('./roboto.css');

@page {
    size: A4 portrait;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

@media print {
    :root {
        font-size: 50%; /* When default font size is 16px, 50% is 8px, all rem will be based on 8px */
    }

    body {
        font-size: 2rem; /*Restore default font size*/
    }
}



@layer base {
    * {
        font-family: Roboto, ui-sans-serif, system-ui, sans-serif;
    }
}