@import '@busybox/tailwindcss-config/tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@page {
    size: A4 portrait;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

@media print {
    :root {
        font-size: 50%; /* When default font size is 16px, 50% is 8px, all rem will be based on 8px */
    }

    body {
        font-size: 2rem; /*Restore default font size*/
    }
}



@layer base {
    * {
        font-family: "Roboto", serif;
        font-style: normal;
    }
}