@import '@busybox/tailwindcss-config/tailwind.css';

@page {
    size: A4 portrait;
}

@media print {
    :root {
        font-size: 50%; /* When default font size is 16px, 50% is 8px, all rem will be based on 8px*/
    }

    body {
        font-size: 2rem; /*Restore default font size*/
    }
}