name: testing

on: pull_request
env:
  CI: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3.0.0
        with:
          node-version: 16.x
      - run: bash ./scripts/setup.sh
      - run: bash ./scripts/test.sh